$cellSize: 10px

@mixin border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

div#app
  margin: 10px
  width: 510px

  h1, .controls, .footer
    text-align: center

  .controls
    margin-bottom: 10px
    width: 100%

  .life
    .column
      display: inline-block
      border-top: 1px solid black
      border-bottom: 1px solid black
      .cell
        width: $cellSize
        height: $cellSize
        // TODO: do not display borders for two adjacent cells s.t. there is a 2px border
        border: 1px solid black

      .cell.dead
        background: #FFFFFF
      .cell.alive
        background: #8CD8B2
      .cell.alive.stable
        background: #26D87F

    .column:first-child
      border-left: 1px solid black
    .column:last-child
      border-right: 1px solid black
